---
title: Blog
description: In questa pagina troverai tutti i pots che ho pubblicato
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="it">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        <ul class="elenco-posts">
            <li class="posts">
                {{content | safe}}
            </li>
        {%- for post in collections.post | reverse -%}
            <li class="posts">
                <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
                <p>{{post.data.description | safe}}</p>
                <small class="info">
                    <time datetime="{{page.date}}">{{page.date | readableDate}}</time>&nbsp;&nbsp;&ndash;&nbsp;
                    {{content | readingTime}}&nbsp;per&nbsp;leggerlo
                </small>
            </li>
        {%- endfor -%}
        </ul>
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
