---
title: Pagina Generica
description: è una pagina come tante, oppure tante pagine sono come lei?
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="it">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
