---
title: Oops! Not Found
layout: page.njk
permalink: /404.html
keyword: error 404
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>404 error!</h1>
<p>
    <span class="lead">{{title}}</span></br>
    This is where you should tell the user how to find their content. Maybe on the <a href="{{'/' | url}}">home page?</a>
</p>