---
title: Oops! You are offline
layout: page.njk
permalink: /offline.html
keyword: no-network
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>No internet connection!</h1>
<p>
    <span class="lead">{{title}}</span></br>
    Try connecting to a wifi network or mobile connection and reload the page. go to <a href="{{'/' | url}}">Home page.</a>
</p>